@page "/orders"
@using Ecommerce.Model
@inject HttpClient http

<h3>OrderList</h3>

<table class="table">
    <thead>
       <tr>
           <th>CustomerName</th>
           <th>ProductId</th>
           <th>Quantity</th>
           <th>OrderDate</th>
       </tr>
    </thead>
    <tbody>
        @foreach(var order in Orders)
        {
            <tr>
                <td>@order.CustomerName</td>
                <td>@order.ProductId</td>
                <td>@order.Qty</td>
                <td>@order.orderDate</td>
            </tr>
           
        }
    </tbody>
</table>

@code {
    private List<OrderModel> Orders = new List<OrderModel>();

    protected override async Task OnInitializedAsync()
    {
        Orders = await http.GetFromJsonAsync<List<OrderModel>>("https://localhost:7064/api/order");
        await base.OnInitializedAsync();
    }

}
